<h1>Idea Notebook</h1>

<ul>
<% @ideas.each do |idea| %>
  <li>
    <%= idea.name %>: <%= idea.description %>
    <%= link_to "Destroy", idea_path(idea.id), :method => "delete", :data => { :confirm => "Are you sure?" }  %>
  </li>
<% end %>
</ul>
